ul {
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}
.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.d-flex-direction-column {
  flex-direction: column;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-space-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
.align-content-center {
  align-content: center;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

* {
  font-family: $font-family;
  font-weight: 400;
  line-height: 1.5;
}
.container {
  max-width: 1920px;
  margin: 0 auto;
}
.wrap {
  max-width: 1297px;
  margin: 0 auto;
}

.bg-black {
  background-color: #000; 
}