.projects {
  $p: &;
  padding: 160px 0;
  background-color: #fff;
  &__title {
    font-size: 64px;
    color: #000;
    text-align: right;
    margin-bottom: 16px;
  }
  &__content {
    gap: 24px;
    @include e(info, $p) {
      @include e(card, $p) {
        gap: 24px;
        margin-bottom: 28px;
        @include e(descript, $p) {
          p {
            color: #15161D;
          }
          button {
            @include btn;
            align-self: start;
            background-color: #000;
            color: #fff;
          }
        }
      }
      @include e(imgs, $p) {
        gap: 24px;
      }
    }
  }
}
