.location {
  &__title{
    position: relative;
    text-indent: 20px;
    @at-root &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 8px;
      height: 72px;
      background-color: #9F1213;
    }
  }
}